copilotkit==0.1.43
fastapi==0.115.12
fastmcp==0.4.1
gitingest
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
langchain==0.3.23
langchain-core==0.3.52
langchain-mcp-adapters==0.0.8
langchain-openai==0.3.13
langchain-text-splitters==0.3.8
langgraph==0.3.30
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.3.31
markdown-it-py==3.0.0
mcp==1.4.1
openai==1.74.0
python-dotenv==1.0.1
requests==2.32.3
requests-toolbelt==1.0.0
uvicorn==0.34.0